@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rochester&display=swap');

/*
COLOR PALETTE:

eaf2e3
61e8e1
f25757
F2E863
f2cd60

*/

body{
    margin: 0;
    padding: 0;
    justify-content: center;
    display: grid;
    width: 100vw;
    height: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main{
    display: flex;
    flex-direction: column;
}

.nav{
    font-size: 30px;
    display: grid;
    width: 100vw;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 100%;
    justify-content: center;
    position: sticky;
    float: top;
    height: 50px;
    background-color: #61e8e1;
    color: black;
    padding: 10px 0;
}

.navMid{
    text-align: center;
}

.navLeft{
    float: left;
    text-align: left;
}

.navLeft, .navMid{
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navRight{
    display: flex;
    float: right;
    text-align: right;
    justify-content: right;
    flex-direction: row;
    font-size: 20px;
}

.navRight div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.mid{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    /*grid-template-columns: 100%;
    grid-template-rows: auto;*/
    width: 100vw;
    background-color: #eaf2e3;
    justify-content: center;
}

.midInner{
    display: grid;
}

.mid > div{
    margin: 10px;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
}

.metronomeContainer{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-content: center;
    width: 100%;
}

.meterWrap{
    display: grid;
    width: 400px;
    grid-template-rows: 100%;
    grid-template-columns: auto auto;
}

.timeSigWrap{
    font-family: "Rochester", cursive;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    font-size: 35px;
    margin-right: 20px;
}

.timeSigWrap select{
    border: none;
    outline: none;
    background-color: white;
    color: black;
    font-family: "Rochester", cursive;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    font-size: 35px;
    padding: 0;
    margin: 0;
}

.timeDivider{
    background-color: black;
    color: black;
    border: 0;
    height: 3px;
    width: 100%;
}

.bpmWrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: 100%;
}

.bpmWrap input{
    border: 0;
    border-bottom: 3px solid black;
    outline: none;
    text-align: center;
    width: auto;
    font-family: "Rochester", cursive;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    font-size: 35px;
}

.startWrap{
    display: flex;
    justify-content: center;
    padding: 5px;
}

.startWrap button{
    margin: auto 10px;
}

button{
    margin: 5px;
}

button:hover{
    border: 1px solid black;
}

.startBtn{
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: #61e8e1;
    padding: 10px;
    font-weight: bold;
    color: black;
}

.stopBtn{
    color: white;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: #f25757;
    padding: 10px;
    font-weight: bold;
}

.displayWrap{
    display: grid;
    justify-content: center;
}

table{
    border: 0;
}

tr, td{
    border: 0;
}

td{
    width: 3vw;
    height: 3vw;
    margin: 10px;
    text-align: center;
    font-size: 15px;
    font-weight: normal;
    border-bottom: none;
}

td img{
    display: block;
    width: 100%;
    height: 100%;
}

td :hover{
    border-bottom: 2px solid #61e8e1;
} 

.noteNum{
    font-weight: bold;
}

.accentNote{
    border-bottom: 2px solid #f25757 !important;
}

.accentNum{
    font-style: bold italic !important;
}

.helpBtn{
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-image: url("../media/helpIcon.png");
    background-size: cover;
}

.helpBtn img{
    display: block;
    width: 30px;
    height: 30px;
}

.footer{
    display: none;
    margin: 0;
    padding: 10px;
    text-align: center;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    width: 100%;
    background-color: #fdf6b8;
}

ul{
    display: block;
    list-style: none;
    text-align: center;
    font-size: 14px
}

.dropDownBtn{
    width: fit-content;
    height: 20px;
    padding: none;
    background-color: transparent;
    border: none;
    outline: none;
    margin: none;
    font-size: 15px;
    font-weight: bold;
}

.dropDownBtn:hover{
    border: none;
    border-bottom: 2px solid black;
}


.dropContainer{
    display: none;
}



/*
COLOR PALETTE:

eaf2e3
61e8e1
f25757
F2E863
f2cd60

*/